body, html {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    margin: 0;
    padding: 0;
  }

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: monospace;
    color: white;
}

.color h3, .color h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#purple {
    background-color: rgb(119, 42, 201);
}

#yellow {
    background-color: rgb(255, 189, 7);
}

#blue {
    background-color: rgb(36, 174, 216);
}

.back_button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: monospace;
    font-size: large;
}

.centered {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}